table {
    /*border-collapse: collapse;
    width: 100%;*/
    text-align: center;
}

table, th, td, tr {
    /*border: 1px solid black;
    font-size:small;*/
    text-align: center !important; 
}
td {
	text-align: center;
}
tr {
	text-align: center;
}


td.colRed{
	background-color: red;
}

td.colBlue{
	background-color: blue;
}
td.red{
	background-color: #e60000;
}

td.green{
	background-color: #006600;
}

td.grey{
	background-color: #808080;
}

td.blue{
	background-color: #2020df;
}
td.orange{
	background-color: #ff731c;
}