table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    font-size:small;
}
td {
	text-align: center;
}

td.red{
	background-color: red;
}

td.green{
	background-color: green;
}

td.grey{
	background-color: grey;
}

td.blue{
	background-color: blue;
}