table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    font-size:small;
}
td {
	text-align: center;
}

td.red{
	background-color: #e60000;
}

td.green{
	background-color: #006600;
}

td.grey{
	background-color: #808080;
}

td.blue{
	background-color: #2020df;
}
td.orange{
	background-color: #ff731c;
}